// THEME FONT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// THEME COLORS
$black: #030001;
$dark-gray: #322432;
$white: #f5ebda;
$gray: #bcc8c6;
$dark-gray: #979797;

$red: #f4444e;
$green: #77c66e;
$blue: #4da4ea;
$yellow: #edde5d;
$orange: #f09819;
$dark-orange: #f57f34;

$purple-alpha: #9053bd45;
$purple: #4e44ce;
